<nav class="navbar navbar-expand-lg text-center">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio'%}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/empresa">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trabajadores">TRABAJADORES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedores">PROVEEDORES</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
