/* Paleta de colores del Grupo 3 */
:root {
    --color-beige: #B7AEA5;
    --color-naranja: #F77014;
    --color-rojo: #E33C08;
    --color-gris: #433D3D;
    --color-negro: #221D21;
}

.equipo-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.equipo-header {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-gris);
}

.card {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: var(--color-naranja);
    color: var(--color-gris);
    font-weight: bold;
}

.rounded-circle {
    border: 3px solid var(--color-naranja);
}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.equipo-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.equipo-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.equipo-card .card-body {
    flex: 1;
}